<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!--    <link rel="stylesheet" href="/WEB-INF/views/css/mainproject.css">-->
    <link th:href="@{css/mainproject.css}" href="css/mainproject.css" rel="stylesheet"/>

</head>
<body>
<header>Y. Kiselev <i class="ion-leaf"></i></header>

<div th:replace="main-controller/menu.html::menusection">
</div>
<p>nvsndfin vdoisjoisdhjvoisjb ofidsjv odisjofidv jod</p>


</body>
</html>

