<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Automated Testing</title>
  <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.css">
  <link rel="stylesheet" href="http://localhost:8080/css/sdet/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
  <header>

<header>Y. Kiselev <i class="ion-leaf"></i></header>

  <!--  <div id="logo" onclick="slowScroll('#top')">
     <span>Y.Kiselev</span>
   </div> -->
<!-- <div id="about">
 
  <a href="#" onclick="slowScroll('#coding')" title="coding">Code</a>
  <a href="#" onclick="slowScroll('#help')" title="help">Help</a>
  <a href="#" onclick="slowScroll('#profile')" title="profile">Profile</a>
</div>  -->
  </header>
    <div id="login">
   
    <form id="autorization" action="/topscreen" method="post">
      	
      	<label for="name">Name <span>*</span></label><br>
      	<input type="text" placeholder="Input name" name="name" id="name"><br>    	
      	
      	<label for="pass">Password <span>*</span></label><br>
		<input type="password" placeholder="Input password" name="pass" id="pass"><br>
		<p>&nbsp;</p>
      <button type="submit" class="btn btn-danger">Log In</button>
		
		
    </form>
  </div>
</body>
</html>
